<html>
    <head>
        <title>Reed's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Assignment 1 Django Blog</a></h1>
        </div>

        <div>
            <p>Published: 2/10/2020, 12:14</p>
            <h2><a href="">First Blog Post</a></h2>
            <p>This is my first blog post on my Django blog!</p>
        </div>

        <div>
            <p>Published: 2/10/2020, 12:14</p>
            <h2><a href="">Second Blog Post</a></h2>
            <p>This is my second post on my Django blog!</p>
        </div>
    </body>
</html>